<!DOCTYPE html>  <!--defines document as an HTML5 document-->
<html lang="en"> <!--states that content is in english-->
    <head> <!--none of this is visible-->
        <meta charset="UTF-8"> <!--states that page can take all types of characters-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--makes sure screen fits different device sizes-->
        <title>GPAg</title>
    </head>
    <body> <!--this is the visible part-->
        <h1>GPAg</h1>
    </body>
</html>